# Main Settings
HubType='Azure' # Azure | GutHub
HOST='127.0.0.1' # Хост сервиса
PORT='8001' # Порт сервиса
REDIS_URL='redis://127.0.0.1:6379' # URL до поднятого Redis
TEMP_DIR='tmp/' # Папка для распаковки архивов репозиториев (автоматически удаляются после сканирования)

# Auth
API_KEY='***' # API ключ для доступа к этому сервису из вне
ADMIN_API_KEY='***' # Ключ для доступа к /admin эндпоинтам из вне. (Проверка заголовка X_API_KEY)
LOGIN_KEY='***' # Ключ для шифрования логина NTLM Auth
PASSWORD_KEY='***' # Ключ для шифрования пароля NTLM Auth
PAT_KEY='***' # Ключ для шифрования PAT токена

# Startup
MAX_WORKERS='10' # Максимальное количество запущенных воркеров
STARTUP_WORKERS='2' # Количество запускаемых воркеров при старте

# Time setup
VALIDATION_THREADS_NUMBER='5' # Количество потоков основного процесса main.py. Занимаются валидацией и проверкой запросов, перед постановкой их в задачу в Redis
TASK_TIMEOUT_SECONDS='1800' # Таймаут для задач Redis (30 минут)
TASK_RETENTION_DAYS='7' # Срок жизни задач в Redis
WORKER_HEARTBEAT_INTERVAL='20' # Heartbeat для воркеров в секундах
CLEANUP_INTERVAL_SECONDS='600'  # Фоновый процесс очистки зависших/старых задач (10 минут)
TIMEOUT_CHECK_INTERVAL='120'   # Фоновый процесс проверки таймаутов задач (2 минуты)
WORKER_CHECK_INTERVAL='240' # Фоновый процесс проверки состояния воркеров (4 минуты)